.celaPati {
    background-color: gold;
    color: black;
}

.celaWeb {
    background-color: lightcyan;
    color: black;
}

.celaProgra {
    background-color: lightblue;
    color: black;
}
.celaSistemas {
    background-color: lightgoldenrodyellow;
    color: black;
}
.celaFOL {
    background-color: lightpink;
    color: black;
}

.celaTutoria {
    background-color: lightsalmon;
    color: black;
}

.celaBBDD {
    background-color: lightslategray;
    color: black;
}

.celaEIE {
    background-color: lightgreen;
    color: black;
}
.celaERP {
    background-color: lightseagreen;
    color: black;
}
.celaHorario {
    background-color: yellow;
    color: black;
}
.celaDias {
    background-color: yellow;
    color: black;
}
.textPink
{
    color: pink;
}